<div class="card bg-dark bg-opacity-25 rounded-3">
      <article class="card-group-item">
          <header class="card-header bg-light bg-opacity-50">
              <a routerLink="/home-page" class="title text-white text-decoration-none fs-2">Smile Compushop</a>
          </header>
          <div class="filter-content">
              <div class="card-body">
              <form class="ms-1">
                  <button type="button" class="btn btn-dark w-100 mb-1" (click)=" allprod()">All Product</button><br>
                  <button type="button" class="btn btn-dark w-100 mb-1" (click)="addprod()">Add Product</button><br>
                  <button type="button" class="btn btn-dark w-100 mb-1" (click)="getlab()">Get Labtop</button><br>
                  <button type="button" class="btn btn-dark w-100 mb-1" (click)="getpc()">Get Pc</button><br>
                  <button type="button" class="btn btn-dark w-100 mb-1" (click)="gethdd()">Get Hdd</button><br>
                  <button type="button" class="btn btn-dark w-100 mb-1" (click)="getssd()">Get Ssd</button><br>
                  <button type="button" class="btn btn-dark w-100 mb-1" (click)="sell()">Sell</button><br>
                  <button type="button" class="btn btn-dark w-100 mb-1" (click)="totalsales()">sold products</button><br>
                  <button type="button" class="btn btn-dark w-100 mb-1" (click)="deletedItems()">Deleted Items</button><br>
              </form>

              </div> <!-- card-body.// -->
          </div>
      </article> <!-- card-group-item.// -->
</div>
