<section class="d-flex align-items-center">
  <div class="container mt-5">
    <div class="row justify-content-around">
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-3 bg-dark bg-opacity-50 p-3 rounded-3">
        <app-filter></app-filter>
      </div>
      <div class="col-xl-8 col-lg-8 col-md-6 col-sm-6 text-dark mt-5 table-responsive">
        <table class="table table-bordered border-dark">
          <thead>
            <tr class="table-active">
              <th scope="col">ID</th>
              <th scope="col">NAME</th>
              <th scope="col">MODEL</th>
              <th scope="col">PRICE</th>
              <th scope="col">INFO</th>
              <th scope="col">CATEGORY</th>
              <th scope="col">SERIAL</th>
              <th scope="col">COUNT</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let mydata of result">
              <th #id scope="row">{{mydata.id}}</th>
              <td #name>{{mydata.name}}</td>
              <td>{{mydata.model}}</td>
              <td>{{mydata.price}}</td>
              <td>{{mydata.info}}</td>
              <td>{{mydata.category}}</td>
              <td >{{mydata.serial_no}}</td>
              <td >{{mydata.count}}</td>
            </tr>
          </tbody>
      </table>
      </div>
    </div>
  </div>
</section>

